<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo_DaneshgaheAzad.Properties.Settings.GDB_DneshgaheAzadConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GDB_DneshgaheAzad.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Demo_DaneshgaheAzad.Properties.Settings.New_Personal_GeodatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\New Personal Geodatabase.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>